<footer>
    <div class="copywright">
        <p>© Md Nayeem Hossain</p>
        <p>Powered and secured by MD</p>
    </div>
    <div class="footerContactDiv">
        <div class="call">
            <p style="font-weight: bold;">Call</p>
            <p>+4581913638</p>
        </div>
        <div class="write">
            <p style="font-weight: bold; margin-left: 50%;">Write</p>
            <p>nayeemhossain859@gmail.com</p>

        </div>
        <div class="follow">
            <p style="font-weight: bold;">Follow</p>
            <a href=""><img src="../../images/icons/facebook.png" alt="facebook" width="25px" height="25px"></a>
            <a href=""><img src="../../images/icons/instagram.png" alt="instagram" width="25px" height="25px"></a>
            <a href=""><img src="../../images/icons/facebook.png" alt="facebook" width="25px" height="25px"></a>
        </div>
    </div>
</footer>
</html>