body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #e8dfd4;
    display: flex;
    flex-direction: column;
}
.card{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 55vh;
    background-color: #f1ede3;
    border-radius: 6px;
}
.loginCard{
    position: absolute;
    width: 50%;
    height: auto;
    top: 18%;
    left: 25%;
   
}
.title{
    margin-left: 38%;
}
.loginCard .loginForm{
    width: 100%;
    margin-left: 15%;
}
.loginCard .loginForm input{
    margin: 1%;
    padding: 2px;
    width: 70%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.btn{
    margin-top: 10px;
    margin-left: 21%;
    width: 30%;
    font-size: large;
    border-radius: 5px;
}
.btn:hover{
    background-color: #cdb89f;
    cursor: pointer;
}
.loginCard p{
    font-size: 18px;
    margin-top: 8%;
    margin-left: 22%;
}

.signUpCard{
    visibility: hidden;
    position: absolute;
    width: 50%;
    height: auto;
    top: 16%;
    left: 25%;
    
}
.signUpCard .signUpForm{
    width: 100%;
    margin-left: 15%;
}
.signUpCard .signUpForm input{
    margin: 1%;
    padding: 2px;
    width: 70%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.signUpCard p{
    font-size: 18px;
    margin-top: 8%;
    margin-left: 22%;
}

.switchBtn{
    border: none;
    text-decoration: underline;
    background-color: #f1ede3;
    color: rgb(91, 91, 190);
    cursor: pointer;
    font-size: 15px;
}